<p>Hi {{vm.user.username}}! You're logged in!!&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <a href="#!/login" class="btn btn-primary">Logout</a></p>
</br>
Accounts : <select ng-model="account" ng-options="acc.name for acc in vm.accounts" 
				ng-change="vm.loadProjects(account.id)">
				<option value=''>--Select Account--</option>
			</select>
</br>
</br>
Projects : <select ng-model="project" ng-options="pjt.name for pjt in vm.projects" 
				ng-change="vm.loadResources(account.id,project.id)">
				<option value=''>--Select Project--</option>
			</select>
</br>
</br>
Or
</br>
</br>
	Search by EmpID : <input type="text" id="empid" ng-model="empId" ng-dblclick="vm.searchByEmpId(empId)"/>
</br>
</br>
</br>
Resources:	
</br>
</br>
<div>
	<table class="table table-bordered">
		<tr>
			<th>Emp Id</th>
			<th>WBSCode</th>
			<th>PM Name</th>
			<th>Practice </th>
		</tr>
		<tr ng-repeat="user in vm.resources">
			<td>{{user.empid}}</td>
			<td>{{user.wbscode}}</td>
			<td>{{user.pmname}}</td>
			<td>{{user.practice}}</td>
		</tr>
	</table>
	<table class="table table-bordered">
		<tr>
			<th>Skill1</th>
			<th>S1 L1 Tranining Date  - Planned</th>
			<th>S1 L1 Tranining Date  - Actual</th>
			<th>S1 L1 Completion Mode </th>
			<th>S1 L2 Tranining Date  - Planned</th>
			<th>S1 L2 Tranining Date  - Actual</th>
			<th>S1 L2 Assessment Date  - Planned</th>
			<th>S1 L2 Assessment Date  - Actual</th>
			<th>S1 L2 Completion Mode <br></th>
		</tr>
		<tr ng-repeat="user in vm.resources">
			<td>{{user.skill1}}</td>
			<td>{{user.s1l1tdp}}</td>
			<td ng-dblclick="vm.enableEdit('{s1l1tda:'+'{{user.s1l1tda}}'+'}','isEdit7')">
				<div ng-if='!vm.isEdit7'>{{user.s1l1tda}}</div>
				<div ng-if='vm.isEdit7'><input type='text' name='user.s1l1tda' ng-model='user.s1l1tda'></div>
			</td>
			<td ng-dblclick="vm.enableEdit(this,'isEdit8')">
				<div ng-if='!vm.isEdit8'>{{user.s1l1cm}}</div>
				<div ng-if='vm.isEdit8'><input type='text' name='user.s1l1cm' ng-model='user.s1l1cm'></div>
			</td>
			<td>{{user.s1l2tdp}}</td>
			<td ng-dblclick="vm.enableEdit(this,'isEdit10')">
				<div ng-if='!vm.isEdit10'>{{user.s1l2tda}}</div>
				<div ng-if='vm.isEdit10'><input type='text' name='user.s1l2tda' ng-model='user.s1l2tda'></div>
			</td>
			<td>{{user.s1l2adp}}</td>
			<td ng-dblclick="vm.enableEdit(this,'isEdit12')">
				<div ng-if='!vm.isEdit12'>{{user.s1l2ada}}</div>
				<div ng-if='vm.isEdit12'><input type='text' name='user.s1l2ada' ng-model='user.s1l2ada'></div>
			</td>
			<td ng-dblclick="vm.enableEdit(this,'isEdit13')">
				<div ng-if='!vm.isEdit13'>{{user.s1l2cm}}</div>
				<div ng-if='vm.isEdit13'><input type='text' name='user.s1l2cm' ng-model='user.s1l2cm'></div>
			</td>
		</tr>
	</table>
	<table class="table table-bordered">
		<tr>
			<th>Skill2</th>
			<th>S2 L1 Tranining Date  - Planned</th>
			<th>S2 L1 Tranining Date  - Actual</th>
			<th>S2 L1 Completion Mode</th>
			<th>S2 L2 Tranining Date  - Planned</th>
			<th>S2 L2 Tranining Date  - Actual</th>
			<th>S2 L2 Assessment Date  - Planned</th>
			<th>S2 L2 Assessment Date  - Actual</th>
			<th>S2 L2 Completion Mode</th>
		</tr>
		<tr ng-repeat="user in vm.resources">
			<td>{{user.skill2}}</td>
			<td>{{user.s2l1tdp}}</td>
			<td>{{user.s2l1tda}}</td>
			<td>{{user.s2l1cm}}</td>
			<td>{{user.s2l2tdp}}</td>
			<td>{{user.s2l2tda}}</td>
			<td>{{user.s2l2adp}}</td>
			<td>{{user.s2l2ada}}</td>
			<td>{{user.s2l2cm}}</td>
		</tr>
	</table>
</div>
